@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(64% 0.222 41.116);
  --color-primary-content: oklch(95% 0.038 75.164);
}

:root {
  font-family: "Roboto", "sans-serif";
}

body {
  @apply bg-slate-100;
}

.rich-editor:empty::before {
  content: attr(data-placeholder);
  color: #a0aec0;
  font-size: 1rem;
}
